.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10vh 0;
}

.servicesHeader {
  margin-bottom: 5em;
  width: 80%;
  text-align: center;
}

.servicesHeader h1 {
  font-weight: 400;
  font-size: 2.5em;
  margin-bottom: 1vh;
}

.servicesHeader span {
  font-weight: bold;
  font-size: 2.5em;
}

.serviceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5em;
  padding-bottom: 5vh;
}

.serviceWrapper {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 1em;
  text-align: center;
  box-shadow: 0px 6px 6px #0000001a;
  margin-bottom: 5vh;
}

.serviceWrapper span {
  font-size: 1.5em;
}

.serviceImage {
  width: 80%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

@media screen and (min-width: 1024px) {
  .serviceContainer {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .serviceWrapper {
    width: 40%;
  }

  .serviceImage {
    width: 50%;
  }

  .serviceWrapper p {
    width: 80%;
  }
}
