.orders {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;

  margin-top: 5vh;

  gap: 5em;
}

.ordersContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  margin-top: 5vh;

  gap: 10em;
}

.order {
  display: flex;
  flex-direction: column;

  width: auto;
  height: 600px;
  overflow: scroll;
  margin-bottom: 10px;
  padding: 3em;
  border: 1px solid #000;

  gap: 1em;
}

.order h3 {
  margin: 0;
  padding: 0;

  font-size: 1.2em;
}

.order p {
  margin: 5px 0;
  padding: 0;

  font-size: 1em;
}


.product {
  display: flex;
  align-items: center;
  gap: 1em;
  border: 1px solid #ddd;
  padding: 1.5em;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}




.order button {
  display: inline-block;

  width: 50%;
  margin: 4px 2px;
  padding: 1em 2em;
  border: 1px solid rgb(168, 168, 168);
  background-color: var(--color-green);

  font-size: 12px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);

  cursor: pointer;
}

/* FORM */

.createOrder {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;

  padding: 2em;
  border: 1px solid grey;

  gap: 10px;
}

.input {
  padding: 10px;
  border: 1px solid #3f3f3f;
  border-radius: 5px;
}

.box {
  display: flex;

  gap: 10px;
}

.button {
  padding: 20px 30px;
  border: 1px solid rgb(99, 99, 99);
  border-radius: 5px;
  background-color: var(--color-green);
  font-size: 1em;
  color: rgb(255, 255, 255);

  cursor: pointer;
}

.buttons {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}
