.products {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 10vh 0;
}

.productBtns {
  margin-bottom: 5vh;
  width: 80%;
  background-color: #eff4f8;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5em;
  padding-right: 5vw;
  gap: 1em;
}

.productBtns button {
  border: none;
  font-size: 1.25em;
  color: black;
}

.explore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-bottom: 10vh;
}

.explore h2 {
  font-size: 2.5em;
  color: var(--darkred-color);
}

.explore p {
  font-size: 1.1em;
  font-weight: 600;
  color: var(--grey-color);
  letter-spacing: 1px;
  line-height: 1.7;
  width: 70%;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5em;
  width: 70%;
}

@media only screen and (min-width: 1024px) {
  .list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 80%;
  }

  .card {
    width: 100%;
  }

  .explore {
    width: 70%;
  }

  .productBtns {
    padding: 0.75em;
    width: 80%;
  }

  .productBtns button {
    font-size: 1.5em;
  }
}
