.container {


  width: 80%;
  margin: 10vh auto;

  font-family: Arial, sans-serif;
}

.container h3{


  margin-top: 10vh;
}

.faq {


  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 5vh 0;

  gap: 2em;
}

.faqContainer {


  display: flex;
  flex-direction: column;

  width: 45%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;

  gap: 2em;
}

.faqContainer button{


    padding: 1em;
    border: none;
    background-color: var(--color-green);

    color: white;
}

.form {

  width: 50%;
  margin-top: 20px;
}

.form label {


  display: block;

  margin-bottom: 10px;
}

.form input,
.form textarea {


  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form button {


  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-green);

  color: white;

  cursor: pointer;
}
