.hero {

  position: relative;

  width: 100%;
  height: 40vh;
}

.heroImage {

  position: absolute;
  z-index: 1;
}

.heroText {

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 90%;

  font-size: 1.25em;
  text-align: center;
  color: white;

  transform: translate(-50%, -50%);

  line-height: 1.5;
}
