.container {
  padding: 2em;
  background-color: white;
  height: 100vh;
}

.container h3 {
  font-size: 1.75em;
  margin-top: 10vh;
  padding-bottom: 2vh;
}

.container h2 {
  font-size: 2em;
}

.container form {
  display: flex;
  align-items: center;
  gap: 5em;
}

.container label {
  display: flex;
  gap: 1em;
}

.affiliateImg {
  object-fit: contain;
}

.affiliateContainer {
  padding-right: 5em;
}

.container button {
  background-color: var(--color-green);
  border: none;
  color: white;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: 600;
}



@media screen and (min-width: 1024px) {
  .container {
    justify-content: space-between;
  }

  .header h3 {
    font-size: 48px;
    line-height: 52px;
  }
}
