.container {

  width: 80%;
  margin: 10vh auto;
}

.products {

  display: flex;
  flex-wrap: wrap;

  margin: 5vh 0;

  gap: 10em;
}

.newBtn{
  padding: 0.5em 1em;
  background-color: var(--color-green);
  color: white;
  border: none;
  font-size: 1.2em;
  margin-bottom: 5vh;
  border-radius: 10px;
  cursor: pointer;
}

.productsContainer {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 25%;
  margin-bottom: 20px;

  border: 1px solid #ddd;
  border-radius: 5px;

  text-align: center;

  gap: 2em;
}

.productsContainer p{
  width: 50%;
  text-align: left;
}

.container h3{
  margin: 10vh 0 5vh 0;
}

.productsContainer button {

  padding: 0.5em 1em;
  border: none;
  background-color: var(--color-green);

  color: white;
}

.productImg {

  width: 50%;
  height: auto;

  object-fit: cover;
}

.buttons{
  display: flex;
  gap: 3em;
  margin: 2vh 0;
  width: 100%;
  justify-content: center;

}

.buttons button{
  font-size: 1.2em;
  border-radius: 10px;
}