.container {

  width: 80%;
  margin: 10vh auto;
}

.products {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  margin: 5vh 0;

  gap: 3em;
}

.productsContainer {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 35%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;

  text-align: center;

  gap: 1em;
}

.container h3{
  margin: 10vh 0 5vh 0;
}

.productsContainer button {

  padding: 0.5em 1em;
  border: none;
  background-color: var(--color-green);

  color: white;
}

.productImg {

  width: 50%;
  height: auto;

  object-fit: cover;
}

.form {

  margin-top: 20px;
}

.form label {

  display: block;

  margin-bottom: 10px;
}

.form input,
.form textarea {

  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form button {

  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-green);

  color: white;

  cursor: pointer;
}
