.container {
  margin: 10vh 0;
  padding-top: 5vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/subscriber/cows.jpg");
}

.container .formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5em;
  width: 80%;
  border-radius: 20px;
}

.header {
  padding: 1em;
  background-color: #eff4f8;
  border-radius: 20px;
}

.formWrapper h3,
.formWrapper span {
  font-size: 2.5em;
}

.formWrapper span {
  color: var(--color-green);
}

.formWrapper p {
  padding: 1em;
}

.container form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

.container input {
  height: 4em;
  padding: 0 1.25em;
  font-size: 0.9em;
  font-family: inherit;
  border: none;
  background: transparent;
  border: 1px solid #e5e5e5;
  color: #000;
  font-weight: 700;
}

.submit {
  position: relative;
  top: 0px;
  right: 0px;
  /* width: 30%; */
  font-size: 1em;
  background-color: var(--color-green);
  color: rgb(255, 255, 255);
  font-weight: 400;
  padding: 20px;
  border: none;
  font-family: inherit;
}

/* MODAL */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  background-image: url("/subscriber/cows.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100;
  text-align: center;
}

.modalContainer {
  background-color: #eff4f8;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
}

.modalContainer h1 {
  font-size: 68px;
}

.modalContainer h2 {
  font-size: 2.5em;
  color: var(--color-green);
  font-weight: 600;
}

.subName {
  font-size: 2em;
  color: var(--color-green);
  font-weight: 600;
}

.modalContainer img {
  border: 10px solid #fa96aa;
  border-radius: 100%;
}

.modalContainer p {
  font-size: 18px;
}

.closeButton {
  padding: 0.5em;
  font-size: 18px;
  width: 10%;
  height: 10%;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  background-color: #bcd3a0;
  border-radius: 20px;
  border: none;
  margin: 1em;
  align-self: flex-end;
}

.errorMessage {
  color: rgb(160, 65, 65);
  font-weight: bold;
  margin: 0;
  font-size: 1em;
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .container {
    padding-bottom: 5vh;
  }
  .formWrapper p {
    padding: 2em 5em;
  }

  .container form {
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .container form {
    width: 90%;
  }
}
