.navigation {
  width: 100%;
  z-index: 100;
  position: fixed;
}

.navigation .navigationBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3em;
  height: 80px;
  background-color: #fff;
  color: #000;
  position: relative;
  z-index: 11;
}

.naviLinks {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.naviLinks a {
  display: block;
  width: 100%;
  font-weight: 700;
  text-align: center;
  /* padding: 10px; */
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 20px;
}

.naviLinks a:hover {
  transition: all 0.3s ease-in-out;
  background-color: var(--color-green);
  color: #ffffff;
  font-weight: 400;
}

.navigation .navigationBar .actions {
  display: flex;
  gap: 10px;
}

.navigation .menuPanel {
  position: absolute;

  display: flex;
  width: 100%;
  align-items: center;
  color: #000;
}

.navigation .menu {
  position: absolute;
  transition: top 0.5s ease-in-out;
  width: 80%;
  top: -100vh;
  background-color: rgb(255, 255, 253);
  color: #000;
  box-shadow: 0px 3px 6px rgb(184, 184, 184);
  padding-left: 2em;
}

.navigation .basket {
  position: absolute;
  transition: top 0.5s ease-in-out;
  width: 25%;
  top: -100vh;
  right: 0;
  background-color: rgba(255, 255, 255, 0.89);
  color: black;
  height: auto;
}

.navigation .menu.active {
  top: 0;
}

.navigation .basket.active {
  top: 0;
}

.logo {
  width: 100%;
  height: auto;
}

.cart {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-green);
}

.cart svg {
  font-size: 1.5em;
}

.cartCount {
  font-weight: bold;
}

@media (min-width: 1024px) {
  .navigation .basket {
    width: 40%;
  }

  .navigation .navigationBar {
    padding: 0 10rem;
  }

  .bars {
    width: 40px;
    height: auto;
  }
}
