.background {
  background-image: url("/site/background.jpg");
  background-position: bottom;
  background-attachment: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  text-align: center;
}

.productsCard {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  text-align: center;
}

.products h1 {
  font-size: 2.5em;
}

.products h2 {
  font-weight: 400;
  font-size: 2.5em;
  padding-bottom: 3vh;
}

/* Teams */

.teams {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  text-align: center;
  margin-bottom: 5vh;
}

.teams h1 {
  font-size: 2.5em;
}

.teams h2 {
  font-weight: 400;
  font-size: 2.5em;
  padding-bottom: 3vh;
}

.productsCard {
  display: none;
}

@media screen and (min-width: 1024px) {
  .container {
    width: 80%;
  }
}
