.container {
  width: 80%;
  margin: 10vh auto;
}

.newBtn{
  padding: 0.5em 1em;
  background-color: var(--color-green);
  color: white;
  border: none;
  font-size: 1.2em;
  margin-bottom: 5vh;
  border-radius: 10px;
  cursor: pointer;
}

.employees {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3em;
}

.employeesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 30%;
  margin-bottom: 20px;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;

  gap: 1.5em;
}

.employeesContainer p{
  width: 70%;
}

.container h3 {
  margin-top: 10vh;
  font-size: 2em;
}



.employeesContainer button {
  padding: 0.5em 1em;
  background-color: var(--color-green);
  color: white;
  border: none;
  font-size: 1em;
  border-radius: 10px;
  cursor: pointer;
}

.employeesImg {
  width: 50%;
  height: auto;

  object-fit: cover;
}



.actionBtn{
  display: flex;
  gap: 2em;
}